.vote
  = link_to '+', polymorphic_path(resource, action: :vote_for),
                  method: :patch,
                  data: { type: :json },
                  remote: true

  .rating id="#{resource.class.to_s.downcase}_#{resource.id}"
    = resource.rating

  = link_to '-', polymorphic_path(resource, action: :vote_against),
                  method: :patch,
                  data: { type: :json },
                  remote: true

  p= link_to 'Nullify', polymorphic_path(resource, action: :nullify),
                        method: :patch,
                        data: { type: :json },
                        remote: true
